<h2 class="logo-title">
    <img src="img/gismap.svg" alt="Logo" class="icon" />
    Gismap
</h2>

<button class="sidebar-text" id="dashboard-btn">
    <img src="img/dashboard.svg" alt="Maps Icon" class="icon" />
    Dashboard
</button>

<button class="sidebar-text" id="region-btn">
    <img src="/img/map-pin-area.svg" alt="Region Icon" class="icon" />
    Region
</button>

<button class="sidebar-text" id="maps-toggle">
    <img src="/img/globe-simple.svg" alt="Maps Icon" class="icon" />
    Maps ▾
</button>
<div id="maps-submenu" class="submenu hidden">
    <button class="sidebar-submenu" id="manage-street">
        <img src="/img/road-horizon.svg" alt="Maps Icon" class="icon" />
        Manage Street
    </button>

    <button class="sidebar-submenu" id="manage-marker">
        <img src="/img/marker-icon.svg" alt="Maps Icon" class="icon" />
        Manage Marker
    </button>

    <button class="sidebar-submenu" id="manage-polyline">
        <img src="/img/line-icon.svg" alt="Maps Icon" class="icon" />
        Manage Polyline
    </button>

    <button class="sidebar-submenu" id="manage-polygon">
        <img src="/img/polygon-icon.svg" alt="Maps Icon" class="icon" />
        Manage Polygon
    </button>
</div>

<button class="logout">Log Out</button>